.container {
  margin: 0 auto;
  max-width: 500px;
}

h2 {
  font-family: 'Lato';
  text-align: center;
}

.card-header {
  display: flex;
  align-items: center;

  img {
    width: 40px;
    height: 25px;
    border-radius: 2px;
    margin-right: 10px;
  }
}

.dark-theme {
  .btn {
    filter: brightness(70%);
  }
  .card {
    background-color: #666666 !important;
    color: black !important;

    &:hover,
    &:focus {
      background-color: #888888 !important;
    }
  }
}
