.edit-card {
  margin: 10px auto;
  padding: 0;
  border: 1px solid #ced4da;
}

legend {
  margin-bottom: 16px;
}

form {
  display: flex;
  flex-direction: column;
}

.form-group {
  padding: 0 20px;
  margin: 10px 0;

  label {
    margin: 0;
    margin-bottom: 2px;
  }
}

.form-control.ng-invalid.ng-touched {
  border-color: #dc3545;
}

.form-error {
  font-size: 12px;
  color: #dc3545;
}

.dark-theme {
  .edit-card {
    background-color: #666666;
    color: black;
    border-color: #222222;
  }

  .btn {
    filter: brightness(70%);
  }

  .form-group {
    input,
    .ng-select .ng-select-container {
      background-color: #c5c5c5;
      border-color: #666666;

      .ng-value {
        filter: brightness(70%);
      }
    }

    .ng-dropdown-panel {
      border-color: #666666;
    }

    .ng-dropdown-panel .ng-dropdown-panel-items .ng-option {
      background-color: #c5c5c5;
    }
  }
}
