.container {
  margin: 10px auto;
  padding: 0;
}

legend {
  margin-bottom: 16px;
}

form {
  display: flex;
  flex-direction: column;
}

.form-group {
  padding: 0 20px;
  margin: 10px 0;

  label {
    margin: 0;
    margin-bottom: 2px;
  }
}

.form-control.ng-invalid {
  border-color: #dc3545;
}

.form-error {
  font-size: 12px;
  color: #dc3545;
}

