.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

.card {
  transition: all 0.3s;
  width: 200px;
  margin: 10px;

  &-header {
    display: flex;
    justify-content: space-between;

    span {
      margin-right: 5px;
      font-weight: 700;
    }

    img {
      width: 40px;
      height: 25px;
      border-radius: 2px;
    }
  }
}

.chart-card {
  display: inline-block;
  width: auto;
  overflow: hidden;
}

.dark-theme {
  color: #c5c5c5;

  .chart-card {
    filter: invert(90%);
  }

  .card {
    background-color: #666666 !important;
    color: black !important;

    &:hover,
    &:focus {
      background-color: #888888 !important;
    }
  }
}
