nav {
  margin: 0px;
  text-align: center;
  
  a {
    margin: 5px;
  }
}

h1 {
  font-family: 'Lato';
  color: #999;
  text-align: center;
}

h2 {
  font-size: 2em;
  margin-top: 0;
  padding-top: 0;
}
