nav {
  margin: 0px;
  text-align: center;

  a {
    transition: all 0.3s;
    padding: 10px;
    text-decoration: none;
    margin: 10px;
    display: inline-block;
    background-color: #c7985f;
    color: white;
    border-radius: 5px;
    font-family: 'Lato';

    &:hover {
      background-color: #c08033;
    }
    
    &.active {
      color: #c47311;
    }
  }
}

h1 {
  font-family: 'Lato';
  color: #999;
  text-align: center;
}

h2 {
  font-size: 2em;
  margin-top: 0;
  padding-top: 0;
}
