<div class="container">
  <div>
    <h2>List of All the Countries in Our Database</h2>
    <view-mode [(mode)]="viewMode"></view-mode>
  </div>
  <ng-container *ngTemplateOutlet="tableView?table:cards"></ng-container>
</div>

<ng-template #cards>
  <a *ngFor="let country of countries" class="country-unit" routerLink="/detail/{{country.name}}">
    <div class="country-block">
      <h4>{{country.name}}</h4>
      <p>Capital <br> ({{country.capital}})</p>
    </div>
  </a>
</ng-template>

<ng-template #table>
  <table class="countries-table">
    <tr>
      <th *ngFor="let field of fields">{{field|titlecase}}</th>
    </tr>
    <tr *ngFor="let country of countries">
      <td *ngFor="let field of fields">
        <ng-container *ngTemplateOutlet="field=='name'?name:column; context:{field:getField(country,field)}"></ng-container>
      </td>
    </tr>
  </table>
</ng-template>

<ng-template #name let-field="field">
  <a routerLink="/detail/{{field}}">{{field}}</a>
</ng-template>

<ng-template #column let-field="field">
  <span>{{field | list: ', '}}</span>
</ng-template>