<div class="container">
  <div *ngIf="country">
    <h2>{{ country.name | uppercase }}</h2>
    <div class="row">
      <span>Capital: </span>
      {{country.capital}}
    </div>
    <div class="row">
      <span>Area: </span>
      {{country.area | number}} km
      <sup>2</sup>
    </div>
    <div class="row">
      <span>Population: </span>
      {{country.population | number}}
    </div>
    <div class="row">
      <span>GDP: </span>
      {{country.gdp | number}} USD
    </div>
    <div class="row">
      <span>Currency: </span>
      {{country.currency}}
    </div>
    <div class="row">
      <span>Languages: </span>
      <ng-container *ngIf='isChanging; else languages'>
        <language-form [selectedLanguages]="country.languages" (change)="onChange($event)"></language-form>
        <button (click)="toggleChangingMode()">Ok</button>
      </ng-container>
    </div>
    <button (click)="goBack()">Go Back</button>
  </div>
</div>

<ng-template #languages>
  {{country.languages | list: ', '}}
  <button (click)="toggleChangingMode()">Change</button>
</ng-template>
