.container {
  margin: 40px auto;
  text-align: center;
  width: 1024px;
}

.card {
  transition: all 0.3s;
  min-height: 150px;
  width: 200px;
  margin: 10px;

  &-header {
    display: flex;
    justify-content: space-between;

    span {
      margin-right: 5px;
      font-weight: 700;
    }

    img {
      width: 40px;
      height: 25px;
      border-radius: 2px;
    }
  }
}

.table {
  margin: 0;
  border: 1px solid #ced4da;

  th {
    border-color: inherit;
  }

  tr {
    vertical-align: middle;
  }

  img {
    width: 40px;
    height: 25px;
    border-radius: 2px;
  }
}

.dark-theme {
  color: #c5c5c5;

  .btn {
    filter: brightness(70%);
  }

  .card {
    background-color: #666666 !important;
    color: black !important;

    &:hover,
    &:focus {
      background-color: #888888 !important;
    }
  }

  .table {
    background-color: #444444;
    border-color: #222222;
    color: black !important;
    a {
      color: #c5c5c5;
    }

    tr {
      border-color: #222222;
    }
  }
}
