
.container {
  margin: 40px auto;
  text-align: center;
  width: 1024px;
}

.card {
  transition: all 0.3s;
  height: 150px;
  width: 200px;
  margin: 10px;

  &-header {
    font-weight: 700;
  }
}

.table {
  margin: 0;
  
  th {
    border-color: inherit;
  }
}
